
:root {
  --bg-color: #1b1b25;
  --text: #FEFEFE;
  --light-blue: #5582D6;
  --muted-blue: #434f7a;
  --green: #95ffba;
  --red: #c1796c;
}


body {
  background: var(--bg-color);
  color: var(--text);
}

.App {
  padding: 50px;
  text-align: center;
}

